@layer base {
  body {
    background-image: 
      radial-gradient(circle at 2px 2px, #111 1px, transparent 0);
    background-size: 48px 48px;
    background-attachment: fixed;
  }
}

/* Scrollbar de Luxo */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}